@media screen and (max-width: 1599px) {
  .config-card-watermark {
    max-width: 100px;
  }
  .config-bhk {
    font-size: 28px;
  }
  .config-name {
    font-size: 28px;
    line-height: 38px;
  }
  .red-9 {
    max-width: 150px;
  }
  .districts-wrapper p {
    font-size: 16px;
  }
  .districts-title h3 {
    font-size: 32px;
  }
  body {
    font-size: 17px;
  }
  .section-title h1,
  .section-title h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .title-tagline {
    font-size: 18px;
  }
  .menu-link {
    font-size: 14px;
  }
  .theme-padding {
    padding-left: 100px;
    padding-right: 100px;
  }

  header {
    padding: 12px 100px;
  }

  .raymond-logo img {
    max-width: 350px;
  }
  .footer .theme-padding {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1408px) {
  .close {
    top: -50px;
    right: -50px;
  }
  .theme-logo img {
    max-height: 50px;
  }
  .connectivity-detail {
    padding-left: 60px;
  }

  .highlight-item:not(:last-child) {
    margin-bottom: 8px;
  }

  .title-tagline {
    font-size: 16px;
  }

  .theme-padding {
    padding-left: 60px;
    padding-right: 60px;
  }

  header {
    padding: 12px 60px;
  }

  section,
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .qr-wrapper {
    flex-direction: column;
    align-items: start;
  }

  .footer-logo img {
    max-width: 200px;
  }
}

@media screen and (max-width: 1216px) {
  #register-modal {
    padding: 0 20px;
  }
  .modal-title {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .theme-modal-card-body {
    padding: 20px 30px;
  }
  .close {
    top: 0;
    right: 0;
    border-radius: unset;
  }
  .connectivity-detail svg {
    width: 30px;
    height: 30px;
  }
  .accordion-header span {
    font-size: 14px;
  }
  .red-9 {
    max-width: 120px;
  }
  .districts-title h3 {
    font-size: 28px;
  }
  .overview-block span {
    font-size: 14px;
  }
  body {
    font-size: 16px;
  }
  .theme-menu ul {
    gap: 10px;
  }
  .theme-padding {
    padding-left: 35px;
    padding-right: 35px;
  }

  header {
    padding: 12px 30px;
  }

  /* .splide__arrow {
    width: 40px;
    height: 40px;
    padding: 8px;
  } */

  .insomenu-bars {
    top: 50%;
    right: 30px;
    margin: 0;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: absolute;
    z-index: 444;
    cursor: pointer;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .insomenu-bars span,
  .insomenu-bars span:after,
  .insomenu-bars span:before {
    width: 30px;
    border-radius: 0;
    -webkit-transition: -webkit-transform ease 0.15s;
    transition: -webkit-transform ease 0.15s;
    transition: transform ease 0.15s;
    transition:
      transform ease 0.15s,
      -webkit-transform ease 0.15s;
    position: absolute;
    left: inherit;
    right: 0;
    margin: 0 auto;
    height: 2px;
    background-color: #000;
  }

  .insomenu-bars span:before {
    top: -8px;
  }

  .insomenu-active .insomenu-bars span,
  .insomenu-active .insomenu-bars span:after,
  .insomenu-active .insomenu-bars span:before {
    opacity: 1;
  }

  .insomenu-bars span {
    top: 50%;
    display: block;
    margin-top: -2px;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
  }

  .insomenu-bars span:after,
  .insomenu-bars span:before {
    display: block;
    content: "";
  }

  .insomenu-bars span:before {
    top: -8px;
    -webkit-transition:
      top 0.1s 0.14s ease,
      opacity 0.1s ease;
    transition:
      top 0.1s 0.14s ease,
      opacity 0.1s ease;
  }

  .insomenu-bars span:after {
    bottom: -8px;
    width: 30px;
    -webkit-transition:
      bottom 0.1s 0.14s ease,
      -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition:
      bottom 0.1s 0.14s ease,
      -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition:
      bottom 0.1s 0.14s ease,
      transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition:
      bottom 0.1s 0.14s ease,
      transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19),
      -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .insomenu-active .insomenu-bars span {
    -webkit-transition-delay: 0.14s;
    transition-delay: 0.14s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .insomenu-active .insomenu-bars span:before {
    top: 0;
    -webkit-transition:
      top 0.1s ease,
      opacity 0.1s 0.14s ease;
    transition:
      top 0.1s ease,
      opacity 0.1s 0.14s ease;
    opacity: 1;
    width: 25px;
  }

  .insomenu-active .insomenu-bars span:after {
    bottom: 0;
    transition:
      bottom 0.1s ease,
      -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 25px;
  }

  .insomenu-active .insomenu-bars span {
    width: 25px;
  }

  .insomenu-active .menu-creative,
  .insomenu-active .our-offices-item:first-child {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }

  .insomenu-active .our-offices-item:last-child {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }

  .theme-menu {
    position: fixed;
    background-color: #ffffff;
    color: #fff;
    width: 100%;
    right: 0;
    padding: 0;
    padding: 70px 30px 30px !important;
    margin-top: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    opacity: 0;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    overflow-y: auto;
  }

  .insomenu-active .theme-menu {
    opacity: 1;
    clip-path: circle(1600px at 90% -10%);
    -webkit-clip-path: circle(1600px at 90% -10%);
    pointer-events: all;
  }

  .theme-menu ul li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }

  .menu-item {
    line-height: 32px;
  }

  .theme-menu ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .sticky-btn-enquire {
    z-index: 888 !important;
  }

  .theme-menu ul {
    flex-direction: column;
    justify-content: start;
  }

  .raymond-logo img {
    max-width: 280px;
  }
  .footer-logo-block {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
  }

  .footer-osisi-logo img {
    margin: unset;
  }

  .footer-logo {
    border-right: 1px solid #ddd;
    padding-right: 30px;
  }

  .raymond-logo img {
    margin: 30px auto 0;
  }
}

@media screen and (max-width: 1024px) {
  .theme-modal-card {
    max-width: 100%;
  }

  .theme-modal .theme-modal-card {
    top: -30px;
    transform: none;
    margin-top: 30px;
    /* padding: 20px; */
  }

  .theme-modal.is-active .theme-modal-card {
    top: 0;
    transform: none;
    margin-top: 30px;
  }
  .modal-title {
    font-size: 22px;
    letter-spacing: normal;
  }
  .theme-modal-card-body {
    padding: 30px;
  }
  .config-card-watermark {
    max-width: 80px;
  }
  .config-bhk {
    font-size: 24px;
  }
  .config-name {
    font-size: 24px;
    line-height: 34px;
  }
  .red-9 {
    max-width: 100px;
  }
  .districts-wrapper p {
    font-size: 15px;
  }
  .overview-img img {
    max-width: 450px;
    margin: 0;
  }
  .district-img img {
    max-width: 350px;
    margin: 0 auto;
  }
  .connectivity-detail {
    padding-left: 0;
    padding-top: 30px;
  }

  .amenities-col {
    width: 25%;
  }

  /* body {
    padding-top: 89px;
  } */

  .container {
    padding: 0 30px;
  }

  .row-copyright {
    margin: -5px;
  }

  .col-copyright {
    padding: 5px;
  }

  .sticky-btn-enquire {
    font-size: 13px !important;
    right: -40px;
  }

  .sticky-btn-enquire.sticky-brochure {
    top: 360px;
    right: -59px;
  }

  section,
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .col-copyright,
  .col-copyright:last-child {
    text-align: center;
  }

  .scroll-to-top svg {
    width: 36px;
    height: 36px;
  }

  .scroll-to-top {
    width: 36px;
    height: 36px;
    bottom: 55px;
  }

  .call-btn {
    width: 36px;
    height: 36px;
    bottom: 55px;
  }

  .sticky-bottom-form-inner {
    position: fixed;
    padding: 0;
    display: block;
    bottom: -165px;
    left: 0;
    width: 100%;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background: linear-gradient(90deg, #323232 0%, #000000 100%);
    z-index: 999;
  }

  .sticky-bottom-form.open .close-form {
    opacity: 1;
    background-color: transparent;
  }

  .sticky-bottom-form.open .sticky-bottom-form-inner {
    bottom: 0;
    left: 0;
  }

  .sticky-bottom-form {
    bottom: auto;
    left: auto;
    padding: 0;
    width: 100%;
    background: rgb(45 41 38 / 0.9);
    max-width: 100%;
    margin: 0 auto;
    right: 0;
    position: inherit;
    z-index: 999 !important;
  }

  .sticky-bottom-form .col-form {
    width: 50%;
    margin: 0 0 15px !important;
  }

  .sticky-bottom-form .col-form.col-form-btn {
    width: 100%;
  }

  .col-form-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
  }

  .col-form-title h3 {
    margin: 0;
    padding: 10px 12px;
    color: #ffffff;
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    border-top: 1px solid #ffffff60;
    text-transform: uppercase;
  }

  .close-form {
    color: #ffffff;
    position: absolute;
    font-size: 22px;
    line-height: 22px;
    top: 8px;
    right: 3px;
    opacity: 0;
    cursor: pointer;
  }

  .contact-main {
    margin-bottom: 30px;
  }
  .footer-logo img {
    max-width: 180px;
  }
  .footer-osisi-logo img {
    max-width: 145px;
  }
  .contact-detail-detail {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .contact-main {
    flex-direction: column-reverse;
    margin-bottom: 40px;
    gap: 20px;
  }
  .section-gallery .theme-padding {
    padding-right: 35px !important;
  }
  .red-9 {
    max-width: 70px;
  }
  .district-img img {
    max-width: 300px;
    margin: 0;
  }
  .districts-title h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .theme-logo img {
    max-height: 35px;
  }
  .amenities-col {
    width: 33.33%;
  }

  .amenities-icon img {
    max-width: 50px;
    margin: 0 auto 6px;
  }

  .yBoxFrame.yBoxImgWrap .yBoxPrevImg::after {
    left: 30px !important;
  }

  .yBoxFrame.yBoxImgWrap .yBoxNextImg::after {
    left: 0;
  }

  section,
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .copyright-detail .small {
    font-size: 13px;
  }

  .counter-block h3 {
    font-size: 28px;
  }

  .tab-list .tab a {
    width: 160px;
    padding: 12px 24px;
  }

  #register-modal {
    padding: 25px;
  }
}

@media screen and (max-width: 575px) {
  .close {
    width: 34px;
    height: 34px;
  }
  .contact-main {
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }
  .mt-5 {
    margin-top: 10px !important;
  }
  .form-label {
    min-width: 80px;
    font-size: 14px;
  }
  .modal-title {
    font-size: 20px;
  }
  .form-inner-body {
    padding: 20px;
  }
  .overview-img-icon img {
    width: 40px;
    height: 40px;
  }
  .accordion .accordion-header {
    padding: 10px;
  }
  .btn-enquire-config {
    padding: 6px 10px;
  }
  .config-card {
    gap: 90px;
  }
  .config-bhk {
    font-size: 20px;
  }
  .config-name {
    font-size: 20px;
    line-height: 30px;
  }
  .section-gallery .theme-padding {
    padding-right: 20px !important;
  }
  .arrow-bottom .splide__arrows {
    margin-top: 20px;
  }
  .districts-wrapper p {
    font-size: 14px;
  }
  .districts-title h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .overview-item ul {
    flex-wrap: wrap;
    gap: 20px;
  }
  .overview-item ul li {
    width: calc(50% - 20px);
    flex: 0 0 calc(50% - 20px);
  }
  .title-tagline {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .section-title h1,
  .section-title h2 {
    font-size: 18px;
    line-height: 28px;
  }
  .col-header:first-child {
    max-width: 80px;
    padding: 0;
    flex: 0 0 80px;
  }
  .col-header:last-child {
    max-width: 200px;
    padding: 0;
    flex: 0 0 200px;
  }
  .theme-logo img {
    max-height: 30px;
  }
  .amenities-col {
    width: 50%;
  }

  .theme-modal-card-body {
    padding: 20px;
  }

  .container {
    padding: 0 20px;
  }

  .theme-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form-control {
    font-size: 13px;
  }

  .btn {
    font-size: 13px;
    line-height: 20px;
  }

  .section-title {
    margin-bottom: 20px;
  }

  .accordion .card__content {
    padding: 0 15px 15px;
  }

  .accordion .card__title {
    padding: 8px 15px;
  }

  .column.col-register {
    padding: 8px;
  }

  .columns.row-register {
    margin: -8px !important;
  }

  .form-control {
    padding: 12px 12px 12px 0;
  }

  .splide__pagination__page {
    width: 10px;
    height: 10px;
  }

  .listed-points li:before {
    width: 8px;
    height: 8px;
  }

  .listed-points li {
    padding-left: 20px;
  }

  #main-slider .splide__arrow {
    display: none;
  }

  .accordion .card__title {
    font-size: 16px;
    min-height: 50px;
  }

  section,
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /* body {
    padding-top: 84px;
  } */

  .tab-list {
    gap: 10px;
  }

  .sticky-bottom-form {
    display: none !important;
  }

  .sticky-btn-enquire {
    transform: unset;
    top: unset;
    bottom: 0;
    right: 0;
    left: 0;
    border: 0;
    border-top: 1px solid #fff;
    border-radius: 0;
    text-align: center;
    width: 50%;
    padding: 10px 0px !important;
  }

  .sticky-btn-enquire.sticky-brochure {
    top: unset;
    right: 0;
    width: 100%;
    left: unset;
    /* border-left: 1px solid #fff; */
  }

  .thankyou-block h1 {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 8px;
  }

  .thankyou-msg {
    font-size: 14px !important;
  }

  .thankyou-logo img {
    height: 80px;
  }

  /* .close {
    bottom: initial;
    top: -18px;
    left: initial;
    right: -18px;
    width: 36px;
    height: 36px;
  } */

  .scroll-to-top {
    display: none !important;
  }

  body {
    font-size: 14px;
    line-height: 22px;
  }

  .copyright-line {
    display: block;
    font-size: 0 !important;
    line-height: 0 !important;
  }
  .footer-logo img {
    max-width: 160px;
  }
  .footer-osisi-logo img {
    max-width: 120px;
  }

  .footer-logo-block {
    gap: 20px;
  }

  .footer-logo {
    padding-right: 20px;
  }

  .copyright-bar {
    margin-top: 10px;
    padding-top: 10px;
  }

  .raymond-logo img {
    max-width: 240px;
  }

  /* .row-rera .column {
    width: 100%;
  } */

  .footer-logo-block,
  .qr-wrapper {
    justify-content: center;
    align-items: center;
    /* text-align: start;
    flex-direction: row; */
  }

  .rera-block {
    text-align: center;
  }
  .rera-img img {
    margin: 0 auto 10px;
  }

  .footer-logo-block {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .highlight-item::before {
    top: 8px;
    transform: unset;
  }
  .highlight-item {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
  header {
    padding: 12px 20px;
  }
  .insomenu-bars {
    right: 20px;
  }
  .col-header:last-child {
    max-width: 180px;
    padding: 0;
    flex: 0 0 180px;
  }
  .theme-logo img {
    max-height: 25px;
  }

  .modal-title {
    font-size: 20px;
  }

  .counter-block h3 {
    font-size: 24px;
  }

  .sticky-btn-enquire {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 420px) {
  .config-bhk {
    font-size: 18px;
  }
  .config-name {
    font-size: 18px;
    line-height: 24px;
  }
  .config-card-watermark {
    max-width: 70px;
  }
  .section-title h1,
  .section-title h2 {
    font-size: 16px;
    line-height: 24px;
  }
  .modal-title {
    font-size: 16px;
  }

  .sticky-btn-enquire {
    font-size: 12px !important;
  }

  .sticky-btn-enquire {
    width: 40%;
  }

  .sticky-btn-enquire.sticky-brochure {
    width: 100%;
  }

  .footer-logo img {
    max-width: 130px;
  }

  .footer-osisi-logo img {
    max-width: 100px;
  }
}

@media screen and (max-width: 380px) {
  /* body {
    padding-top: 75px;
  } */

  .tab-list .tab a {
    width: 100%;
    padding: 12px 24px;
  }

  header {
    padding: 12px 20px;
  }
}

@media screen and (max-width: 360px) {
}
